# Docker compose file to run claimn insight image against local Mongo version
services:
  app:
    image: repo.datainsight.health/claim-insight:2.14
    restart: unless-stopped
    volumes:
      - ./uploads:/app/uploads
      - ./load:/app/load
      - ./etc:/app/etc
    ports:
      - "5080:5080"
    # if you don't want to use mongo db container, define the host with mongo db here
    extra_hosts:
      - "mongo:host-gateway"